<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disease Diagnosis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/default.css" rel="stylesheet">
    <link href="../static/images/chatbot.png" rel="icon">
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div id="logo">
                <h1 style="color: orange; font-size: 24px;">Disease Diagnosis using Chatbot</h1><br><br><br><br><br><br><br><br>
                <h2>Disclaimer</h2>
                <marquee style="color: pink; font-size: 20px;">Chatbots leverage natural language processing and machine learning to assist with disease diagnosis by analyzing user symptoms, providing potential diagnoses, and offering information on treatments and prevention measures, but they should always be used as a tool to support, not replace, medical professionals.</marquee>
            </div>
        </header>

        <nav id="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="user.html">User</a></li>
                <li><a href="register.html">Register Here</a></li>
            </ul>
        </nav>

        <main id="page">
            <section id="content">
                <article class="post">
                    <header class="title">
                        <h2>About Disease Diagnosis Chatbot</h2>
                    </header>
                    <div class="entry">
                        <img src="../static/images/image.jpg" alt="Disease Diagnosis" width="650" height="300" style="display: block; margin: 0 auto;" />
                                                
                        <table style="border: 1px solid rgb(255, 255, 255);border-collapse: collapse; margin: 10px auto;">

                            <thead>
                                <tr>
                                    <th style="border: 1px solid; color: white;">Algorithm</th>
                                    <th style="border: 1px; color: white;">Accuracy</th>
                                    <th style="color: white;">Precision</th>
                                    <th style="color: white;">Recall</th>
                                    <th style="color: white;">FScore</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data rows go here -->
                                <tr>
                                    <td style="border: 1px; color: white;">Random Forest</td>
                                    <td style="color: white;">95%</td>
                                    <td style="color: white;">0.92</td>
                                    <td style="color: white;">0.94</td>
                                    <td style="color: white;">0.93</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </article>
            </section>
        </main>
    </div>
</body>
</html>
